In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
rating_df = pd.read_csv("ratings.csv")
movies_df = pd.read_csv("movies.csv")

In [4]:
rating_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
rating_df.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

## Exploratory data analysis

In [13]:
# Total number of movie ids
len(rating_df["movieId"])

100836

In [14]:
# Total number of unique movie ids
len(rating_df["movieId"].unique())

9724

In [15]:
# Total number of users
len(rating_df["userId"].unique())

610

In [49]:
# Average number of rating per user
rating_df.groupby("userId")["rating"].describe()["count"].mean()

165.30491803278687

In [51]:
# Average number of rating per movie
rating_df.groupby("movieId")["rating"].describe()["count"].mean()

10.369806663924312